* {box-sizing: border-box}

	body {
	font-family: Verdana, sans-serif;
    margin:0;
    background-color: #F1F1F1;
}

    .main-menu{
    	display: flex;
    	width:100%;
    	height: 52px;
        padding: 0 30px;
        position: absolute;
        top: 0;
        z-index: 0;
        background-color: #283e4a;
        position:absolute;

    }

    .menu{
    	display: flex;
        align-items: center;
        max-width: 1128px;
        margin: 0 auto;
        height: 100%;
        background-color: #283e4a;
        
    }
  

    .in-icon{
    	flex: 0 0 auto;
    }

    .icon1{
        width:48px;
        margin-right: 12px;
        
    }
    .nav-search{
    	flex: 1 1 auto;
    	position: relative;
    	margin: 0 16px 0 0;
    	
    }
    .nav-searchbar{
    	position: relative;
    	width: 280px;
    	min-width: 100px;
    	padding: 0 8px 0 28px;
    line-height: 1.75;
    color: rgba(40,62,74,.75);
    font-weight: 400;
    font-size: 14px;
    	border-radius: 2px;
    	border:none; 
    	font-family: 'Source Sans Pro', sans-serif;
        height: 34px;
        cursor: text;
        background-color: #f1f4f7;

    }

    .glass{
    top: 0;
    left: 0;
    padding: 5px 4px;
    border-radius: 0 2px 2px 0;
    width: 28px;
    height: 34px;
    line-height: 34px;
    font-size: 1.5rem;
    margin: 0;
    box-shadow: none;
    pointer-events: none;
    display: block;
    position: absolute;\
    margin: 0;
    }
    
    .glass-img{
          margin :5px;
          margin-bottom: 8px;
          line-height: 1.75;

    }
    .menu_main{
    margin-left: 100px;
    }
    .menu-items{
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	margin: 0 0 0 auto;
        overflow: hidden;
        position: relative;
        width: auto;
        z-index: 100;
    }
    .li-items{
       	display:flex;
    	position: relative;
    	flex-direction: column;
    	height: 44px;
        line-height: 1;
        margin-top: auto;
        width:75px; 
        align-items: center;
    }
    .img-icon{
    	top:auto;
    	width: 24px;
    	height: 24px;
    	margin-top:4px;
    	display: inline-block;
    }
    .img-text{
    font-size: 10px;
    line-height: 1.33333;
    display: block;
    color: #c7d1d8;
    font-weight: 400;
    text-align: center;
       }
   .down-arrow{
   margin-top: 2px;
   }
 
   #app{
   	border-left: 1px solid #5c6f7c;
   }

   .li-items-text{
   	width:120px;
   }

   .text-end{
   	font-size: 12px;
    max-width: 125px;
    color: #dccea4;
    font-weight: 400;
   }

   .section{
   	width: 1128px;
    box-sizing: content-box;
    padding: 0 30px;
    display: block;
    margin:60px auto;
    position: relative;
    height: 100%;
   }

   .right-sidebar{
   	float: left;
   	margin-left: 0;
   	width:251px;
   	height:700px;
   	background-color:#ffffff; 
   	border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
   	   }

   .main{
   	width:512px; 
   	box-sizing: border-box;
    float: left;
    margin-bottom: 24px;
    margin-right: -1px;
    margin-left: 25px;
    height:100%;
   }
   
   .main-page{
   	width:512px; 
   	box-sizing: border-box;
    float: left;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    height:100%;
    margin-bottom:12px;

   }
   .left-sidebar{
   	float:left;
   	margin-left: 25px;
   	width:312px;
   	height:700px;
   	background-color:#ffffff; 
   	border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
   	   }

   	 .topbar{
   	 	display: flex;
   	 	padding-right: 48px;
   	 	padding-top: 12px;
   	 	padding-left:16px;
   	 	min-height:36px; 
   	 	border-bottom: 1px solid #e6e9ec;
        padding-bottom: 12px;
        font-size:10px;
        position: relative;
   	 }
   	 .topbar-text a{
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-family: Arial;
        word-spacing:1px;

   	 }

   	 .topbar-text{
   	 	color: rgba(0,0,0,.6);
   	 	font-weight: 400;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        word-spacing:1px;

        
   	 }
   	 .topbar-icon{
   	 	right: 12px;
   	 	top: 6px;
   	 	box-sizing: border-box;
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 0;
        position:absolute;
   	 }

   	 .mainbar_icon{
   	 	right: 12px;
   	 	padding-top: 20px;
   	 	box-sizing: border-box;
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 0;
        position:absolute;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        color: #4775d1;
   	 }


   	 .mainbar{
   	 	padding-right: 40px;
   	 	display: flex;
   	    flex-wrap: nowrap;
        padding: 12px 16px 0;
        margin-bottom: 8px;
        align-items: center;
        position: relative;

   	 }
   	 .mainbar_left{
   	    display: flex;
   	 	left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: relative;
   	 }
   	 .mainbar_name{
   	 	margin-left: 8px;
   	 	position:relative;
        overflow: hidden;
        flex-grow: 1;

   	 }

   	 .profile{
   	 	display: flex;
   	 	color: rgba(0,0,0,.9);
   	 	font-weight: 600;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px; 
   	 }
   	 .numbers,.profile_text{
        display: block;
        color: rgba(0,0,0,.6);
   	 	font-weight: 400;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        word-spacing:1px;
        font-size: 12px;

   	 }

   	 .text_section{
   	 position: relative;
     max-width: 928px;
     display: block;
     max-height: 100px;
     margin: 0 16px;
     overflow: hidden;
     color: black;
     font-size:13.6px;
     font-weight: 500;
      text-decoration: none;
      font-family: 'Source Sans Pro', sans-serif;
      margin-bottom: 12px;
   	 }

   	 .text_section span{
   	 	color: rgba(0,0,0,.6);
   	 	font-weight: 400;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        word-spacing:1px;
        font-size: 12px;
        cursor: pointer;
   	 }

   	 .like_section{
   	   line-height: 1.33333;
       display: flex;
       align-items: flex-start;
       overflow: auto;
       margin: 0 16px;
       padding: 8px 0;
       border-bottom: 1px solid #e6e9ec;
   	 }

   	 .like_section a{
   	 	margin-left: 4px;
   	 	width: 16px;
   	 }
   	 .like_section span{
   	 	color: rgba(0,0,0,.6);
   	 	font-weight: 400;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        word-spacing:1px;
        font-size: 12px;
        margin-left: 4px;
   	 }

   	 .comment{
   	 	align-items: center;
        background-color: #fff;
        box-sizing: border-box;
       display: flex;
       margin: 0;
       min-height: 40px;
       padding: 4px 8px;

   	 }

   	 .comment span{
   	 	display: inline-flex;
   	 	padding-left: 8px;
        padding-right: 8px;
        align-items: center;
        cursor: pointer;
   	 }

   	 .comment p{
   	 	color: #525252;
   	 	font-weight: 400;
   	 	text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        word-spacing:1px;
        font-size: 12px;
        padding-left: 2px;
   	 }